[user]
	name = emily
	emial = emilycaroline01042005@gmail.com
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/dc96b837cf6bb4af9cd736aa3af08cf8279f7685/node /tmp/vscode-remote-containers-5f03fda0-cc14-4569-b72d-763a314d7a24.js git-credential-helper $*; }; f"
