[user]
	name = emily
	emial = emilycaroline01042005@gmail.com
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/dc96b837cf6bb4af9cd736aa3af08cf8279f7685/node /tmp/vscode-remote-containers-b63b8126-f179-419b-81a7-c99fe7db4bf3.js git-credential-helper $*; }; f"
